#feedback
	padding 100px 0
	min-height calc(100vh - 765px)
.general-title-feedback
	text-align: center
	span
		display: inline-block
#fb
#vk
	background-color: #F8F8F8
	border-radius: 5px
	border: 2px solid myG
	overflow hidden