footer
	padding 20px 0
	background-color: rgba(5, 5, 5, 0.8);
	text-align: center
	font-size: 14px
	h5
		font-family: GPm
		font-size: 20px
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			background-color: myG
			width: 32px;
			height: 32px;
			color rgba(5, 5, 5, 0.8);
			line-height 32px
			border-radius: 5px
			border: 1px dotted myG
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				opacity .9
				transform: translateY(-3px)