-var head_url = 'https://roleva-yurina.mastervision.su/transpersonal-analytics/';
-var head_title = '«Станьте дипломированным специалистом по трансперсональному анализу личности с доходом от 100 000 рублей в месяц!»';
-var head_description = 'Комплексная программа обучения начинающих и практикующих психологов с выдачей диплома';
-var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/1.main.pug
		include pug/main/2.about.pug
		include pug/main/3.what.pug
		include pug/main/4.methods.pug
		include pug/main/5.about-course.pug
		include pug/main/6.for.pug
		include pug/main/7.get.pug
		include pug/main/8.plan.pug
		include pug/main/9.earns.pug
		include pug/main/10.mail-section.pug
		include pug/main/11.authors.pug
		include pug/main/12.fackts.pug
		include pug/main/13.know.pug
		include pug/main/14.plan-2.pug
		include pug/main/15.matherial.pug
		include pug/main/16.revs.pug
		include pug/main/17.bonuses.pug
		include pug/main/18.last.pug
		include pug/main/19.footer.pug
		include pug/main/19.footer.pug
		include pug/main/20.modal.pug
		include pug/main/21.politics.pug
		include pug/main/22.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts