section#main
	.container
		include ../header
		.row
			.col-md-7.col-sm-7
				h1.main-title Станьте дипломированным специалистом по трансперсональному анализу личности 
					span с доходом от 100 000 рублей в месяц!
				h2.main-subtitle Комплексная программа обучения начинающих и практикующих психологов с выдачей диплома
				ul.main-list
					li Научим раскрывать собственный потенциал , опираясь на анализ генетической архитектуры
					li Научим работать с клиентами в темах предназначения, отношений и финансов
					li Научим дорого продавать ваши услуги и правильно продвигаться в интернете
			.col-md-5.col-sm-5
				img.main-img(src="img/images/main-authors.png", alt="Анна Ролева и Вероника Юрина")
				button.button.button-main(data-toggle="modal" data-target="#main-modal")
					span Зарегистрироваться 
						br
						| на презентацию программы!
		.staticstics
			h3.stat-main-title статистика
			.stat.stat-1
				img.stat-img.stat-img-1(src="img/images/planet-1.png", alt="Планета ")
				h4.stat-title.stat-title-1 35
				h5.stat-subtitle глобальных тем
				p.stat-text От анализа личности до монетизации навыков
			.stat.stat-2
				img.stat-img.stat-img-2(src="img/images/planet-2.png", alt="Планета ")
				h4.stat-title.stat-title-2 35+
				h5.stat-subtitle техник и методов
				p.stat-text Освоите во время курса
			.stat.stat-3
				img.stat-img.stat-img-3(src="img/images/planet-3.png", alt="Планета ")
				h4.stat-title.stat-title-3 258
				h5.stat-subtitle академических часов
				p.stat-text Длительность программы
			.clearfix