section#authors
	.container
		h3.general-title.general-title-authors Авторы и преподаватели курса «Трансперсональный анализ личности»
		.author.author-1
			.row
				.col-md-4.col-sm-4
					.author-single
						img.lazy.author-img.author-img-1(data-src="img/images/veronika.png", alt="Вероника Юрина")
						h4.author-title Вероника Юрина
					h5.author-certs-title Дипломы:
					.row
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-1.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-1.min.png", alt="Сертификат 1")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-2.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-2.min.png", alt="Сертификат 2")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-3.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-3.min.png", alt="Сертификат 3")
					.row
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-4.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-4.min.png", alt="Сертификат 4")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-5.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-5.min.png", alt="Сертификат 5")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-6.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-6.min.png", alt="Сертификат 6")
					.row
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-7.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-7.min.png", alt="Сертификат 7")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-8.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-8.min.png", alt="Сертификат 8")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-9.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-9.min.png", alt="Сертификат 9")
					.row
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-10.png" data-fancybox='certs-1')
								img.lazy.cert-img(data-src="img/certs/cert-10.min.png", alt="Сертификат 10")
				.col-md-3.col-sm-3
					p.general-text.general-text-author Дипломированный психолог с 10-летним опытом консультирования, которая обучала руководителей ТрансНефтьЭнерго, Rambler, Mail Group, БинБанк, HeadHunter, Krutoy Media, Hearst Shkulev Media, ПГК и др.
					ul.author-list
						li Профессиональный бизнес-тренер и экс-преподаватель в РЭУ им. Плеханова
						li Эксперт в сфере продвижения и продаж элитных образовательных программ
						li Собственница успешной тренинговой компании
				.col-md-5.col-sm-5
					.author-history
						p.general-text.general-text-author Погружение в мир психологии началось в юном возрасте, когда я открыла первую книгу из обширной маминой библиотеки
						p.general-text.general-text-author Моя мама была сильным клиническим психологом и основателем успешной тренинговой компании. Она всегда помогала мне в личностном и профессиональном развитии
						p.general-text.general-text-author Ещё не достигнув 18-летнего возраста, я уже активно проявляла себя и проводила первые тренинги вместе с мамой. Это навсегда связало меня с профессией психолога — я нашла своё предназначение!
						p.general-text.general-text-author Хотя, помимо этого, мне был интересен бизнес во всех проявлениях: финансы, продажи и маркетинг. Я начала с получения диплома по экономике в 2009 году в одном из самых престижных экономических вузов страны — РЭУ им. Г. В. Плеханова
						p.general-text.general-text-author В 2010 году получила диплом по специальности маркетинг, а затем сразу пошла в аспирантуру по стратегическому маркетингу и преподавала в РЭУ им. Г.В. Плеханова и бизнес-школе МИРБИС несколько лет
						p.general-text.general-text-author Написала диссертацию, но...не стала её защищать. Настало время уходить в бизнес и я вернулась в нашу тренинговую компанию, которую впоследствии вывела на полную автоматизацию и ушла работать в финансовый сектор
						p.general-text.general-text-author У меня было много бизнес-опыта — от работы директором по продажам в финансовой компании, выведения на российский рынок западной компании до работы в Московской школе «Сколково» в программе Executive MBA
						p.general-text.general-text-author Последней работой, до выхода в свободное плавание, стала работа бизнес-тренера в одной из лучших российских компаний — Samolov Group. И там я обучала владельцев и руководителей бизнеса крупнейших российских компаний
						p.general-text.general-text-author Я больше 10 лет работала с людьми, проводила тренинги и коуч-сессии, освоила методики НЛП третьего поколения, расстановки, МАК, релаксационные методики, нейрокоучинг и мн. др. 
						p.general-text.general-text-author Большую роль в моём становлении сыграл духовный опыт и обучение у таких известных людей, как Nada Baba – президент Балтийской федерации йоги, Еше Лодой Ринпоче – передача гуру-йоги и 6 йог Наропы
						p.general-text.general-text-author В 2018 году я прошла профессиональную переквалификацию и получила официальный диплом в сфере практической психологии, консультирования и психодиагностики. И там же я прошла доп.курс по экстренному психологическому реагированию
		.author.author-2
			.row
				.col-md-4.col-sm-4
					.author-single
						img.lazy.author-img.author-img-1(data-src="img/images/anna.png", alt="Анна Ролева")
						h4.author-title Анна Ролева
					h5.author-certs-title Дипломы:
					.row
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-11.png" data-fancybox='certs-2')
								img.lazy.cert-img(data-src="img/certs/cert-11.min.png", alt="Сертификат 11")
						.col-md-4.col-sm-4
							a.cert-link(href="img/certs/cert-12.png" data-fancybox='certs-2')
								img.lazy.cert-img(data-src="img/certs/cert-12.min.png", alt="Сертификат 12")
				.col-md-3.col-sm-3
					p.general-text.general-text-author Автор и ведущая 12 образовательных программ в сферах механики человека, генных ключей и человеческого потенциала, а также видеоблогер и путешественница
					ul.author-list
						li Эксперт в области предназначения
						li Лидер и создатель проекта «Cosmos»
						li Сертифицированный регрессолог (погружение в прошлые жизни)
						li Студентка В. Майкова — лидера трансперсонального движения в России
				.col-md-5.col-sm-5
					.author-history
						p.general-text.general-text-author Мне всегда не нравились рамки и ограничения — в школе и институте заставляли учить ненужные предметы, а на офисной работе выполнять бесполезные задачи
						p.general-text.general-text-author После этого я проходила обучение в Open Business School специальностям маркетинг, менеджмент и СПбГАТИ на продюсерском факультете
						p.general-text.general-text-author Почти 6 лет я проработала продавцом недвижимости с достойным и стабильным доходом и несмотря на то, что работа мне нравилась, ограничения были невыносимыми
						p.general-text.general-text-author На последней работе я ненавидела каждое утро, так как после пробуждения в голове был только один вопрос: «Какого чёрта я должна туда идти?»
						p.general-text.general-text-author В 2014 году я встретилась с приятелем, который провёл мне коуч-сессию и это стало отправной точкой! У меня сложилось полное понимание кто я и чем хочу заниматься, а главное я поняла чего не хочу — всю жизнь просидеть в офисе
						p.general-text.general-text-author Я поняла, что хочу заняться самопознанием, путешествовать и помогать другим людям находить их истинное предназначение
						p.general-text.general-text-author В 2015 году я уехала в Индию, где проработала гидом около года и начала путь духовного развития — общалась с индийскими мудрецами, шаманами и несколько раз присутствовала на учении Далай Ламы
						p.general-text.general-text-author Там же мы познакомились с Вероникой, а в 2016 году я вернулась в Россию, и мы начали изучать тему предназначения с разных сторон — НЛП, ведическое направление, механика человека и т.д.
						p.general-text.general-text-author Механика человека оказалась самым быстрым и эффективным методом и потому мы начали активно работать в этом направлении
						p.general-text.general-text-author В 2018 году я получила официальный сертификат регрессолога
						p.general-text.general-text-author Сегодня все наши изыскания превратились в авторский метод, который уже помогает тысячам людей по всему миру — «Трансперсональная аналитика»