section#know
	.container
		h3.general-title.general-title-know Узнайте о новых трансформационных инструментах по работе с собой и клиентами!
		.row
			.col-md-5.col-sm-5
				h4.know-title.know-title-1 Что вы получите для работы над собой?
				ol.know-list
					li 
						span Узнаете свои сильные стороны, наклонности, таланты и базовые стратегии, закодированные в вашем ДНК 
					li 
						span Осознаете, что с вами всё в порядке. Вам не нужно бороться с собой и переделывать себя 
					li 
						span Научитесь работать с блоками, которые мешают раскрыться вашему потенциалу в самореализации, отношениях и финансовой сфере
					li 
						span Измените отношение к себе и выведете качество жизни на новый уровень
					li 
						span Узнаете как разблокировать потенциал своего ДНК и разбудить внутреннего гения
			.col-md-2.col-sm-2
			.col-md-5.col-sm-5
				h4.know-title.know-title-2 Что вы получите для работы с клиентами?
				ol.know-list
					li
						span Анализировать генетическую архитектуру человека
					li
						span Использовать все инструменты «Механики человека» и «Генных ключей»
					li
						span Расшифровывать генетические карты: по Механике человека и Генным ключам. 
					li
						span Выявлять скрытые возможности, таланты и способности человека
					li
						span Решать проблемы в трёх базовых сферах жизни: предназначение, финансы и отношения.
					li
						span Проверять совместимость и выстраивать отношения с любыми типами людей
		button.button.button-know(data-toggle="modal" data-target="#Modal")
			span Зарегистрироваться 
				br
				| на презентацию программы!