section#plan-2
	.container
		h3.general-title.general-title-plan-2 Что будет на открытом мастер-классе?
		.row
			.col-md-5.col-sm-5
				.plan-2
					h4.plan-2-title День 1
					p.general-text.general-text-plan-2 Введение в трансперсональный анализ: механика человека, как трансформировать тему отношений и финансов
				.plan-2
					h4.plan-2-title День 2
					p.general-text.general-text-plan-2 Генные ключи. Как найти предназначение, трансформировать сопротивление и выйти из жертвы
				.plan-2
					h4.plan-2-title День 3
					p.general-text.general-text-plan-2 Монетизация: как получить очередь из клиентов, зарабатывая на своих дарах
			.col-md-7.col-sm-7
				img.plan-2-img(src="img/images/plan-2-img.png", alt="Что будет на открытом мастер-классе?")