section#materials
	.container
		h3.general-title.general-title-materials Материалы, которые останутся с вами после мастер-класса
		.row
			.col-md-4.col-sm-4
				.material.material-1
					h4.material-title.material-title-1 1
					h5.material-subtitle Рабочая тетрадь по генным ключам
			.col-md-4.col-sm-4
				.material.material-2
					h4.material-title.material-title-2 2
					h5.material-subtitle 3 урока с базовыми психологическими техниками
					p.general-text.general-text-material ресурсирование, устранение внутреннего конфликта, «кормление внутренних демонов»
			.col-md-4.col-sm-4
				.material.material-3
					h4.material-title.material-title-2 3
					h5.material-subtitle 3 урока по монетизации
					p.general-text.general-text-material силовое поле тренера, целевая аудитория, источники трафика