section#bonuses
	.container
		h3.general-title.general-title-bonus Бонусные техники, которые вы пройдёте и научитесь использовать!
		.row
			.col-md-3
				.bonus
					img.bonus-img(src="img/images/bonus-img-1.png", alt="Техника Импульс тела")
					h4.bonus-title
						small Техника
						| Импульс тела
					p.general-text.general-text-bonus Это техника позволит вам ощутить практическую пользу от механики человека. Вы научитесь применять ключевой принцип этой системы — выбирать телом, а не умом. После освоения техники у вас не останется сложных выборов
			.col-md-3
				.bonus
					img.bonus-img(src="img/images/bonus-img-2.png", alt="Техника БИОС")
					h4.bonus-title
						small Техника
						| БИОС
					p.general-text.general-text-bonus Эта техника позволит вернуть утраченный природный потенциал. Вы сможете прокачать способности, заложенные в вас природой, с которыми вы потеряли соединённость
			.col-md-3
				.bonus
					img.bonus-img(src="img/images/bonus-img-3.png", alt="Техника Любящее Сердце")
					h4.bonus-title
						small Техника
						| Любящее Сердце
					p.general-text.general-text-bonus Незабываемая трансперсональная медитация, которая соединит вас с внутренним ресурсом любви и изобилия, позволит пережить опыт близости и нежности, исцеляющий сердце и открывающий новые грани любви
			.col-md-3
				.bonus
					img.bonus-img(src="img/images/bonus-img-4.png", alt="Техника Тренерская легенда")
					h4.bonus-title
						small Техника
						| Тренерская легенда
					p.general-text.general-text-bonus Эта технология раскрывает уникальность консультантов, коучей и тренеров, позволяет точно описать их суть и формализовать молекулы бренда, чтобы клиенты почувствовали их силу на глубинном уровне и осознали ценность любого мастера