section#last
	.container
		.row
			.col-md-6
				h3.general-title.general-title-last Регистрируйтесь на мастер-класс прямо сейчас!
				h4.last-subtitle и узнайте больше о новейших инструментах психологии XXI века!
			.col-md-6
				button.button.button-last(data-toggle="modal" data-target="#Modal")
					span Зарегистрироваться 
						br
						| на презентацию программы!
	footer
		.container
			.contacts-footer
				a.contact.contact-tel(href="callto:8-929-568-87-50" target="_blank") 8-929-568-87-50
				a.contact.contact-tel(href="callto:8-499-346-79-46" target="_blank") 8-499-346-79-46
				a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank") support-mastervision
				a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank") info@mastervision.su
			.copyright
				p.copyright-text Copyright © 2019 ИП Кудряшов Александр Анатольевич
					br
					| ИНН 720410077658, ОГРН 315723200065100
					br
					| Все права защищены