section#about
	.container
		h3.general-title.general-title-about О трансперсональной психологии и какие проблемы она решает
		p.general-text.general-text-about Трансперсональная психология – это наука, изучающая надличностные и духовные аспекты людей, изменённые состояния сознания, которая совмещает современные психологические концепции, теории и методы с духовными практиками Востока и Запада
		p.general-text.general-text-about Трансперсональный психолог помогает человеку разобраться в собственных переживаниях, их природе, формах, причинах и следствиях, а главное — выработать стратегию и план действий по реализации внутреннего потенциала