section#what
	.container
		h3.general-title.general-title-what Что такое трансперсональная аналитика?
		p.general-text.general-text-what Трансперсональная аналитика — это новое направление в психологии XXI века, которое позволяет анализировать человека с точки зрения его генетической архитектуры, через призму «Механики человека» и «Генных ключей»
		p.general-text.general-text-what Вы станете специалистом по расшифровке генетических карт, с помощью которых можно проанализировать потенциал, заложенный в человеке, и решить проблемы в трёх базовых сферах жизни – предназначении, финансах и отношениях