section#methods
	.container
		h3.general-title.general-title-methods Ключевые техники и методики:
		.methods
			.row
				.col-md-2.col-sm-2
					p.general-text.general-text-methods Анализ генетической архитектуры человека с помощью инструментов механики человека и генных ключей
				.col-md-2.col-sm-2
					p.general-text.general-text-methods Анализ стереотипов мышления и врождённых установок, влияющих на поведение и сценарии жизни
				.col-md-2.col-sm-2
					p.general-text.general-text-methods Анализ предназначения, основанный на ДНК
				.col-md-2.col-sm-2
					p.general-text.general-text-methods Композитный анализ отношений
				.col-md-2.col-sm-2
					p.general-text.general-text-methods Общая психология
				.col-md-2.col-sm-2
					p.general-text.general-text-methods Сиддхи-медитации