section#targets
	.container
		.row
			.col-md-2.col-sm-2.col-md-push-10.col-sm-push-10
				h3.targets-main-title цели
			.col-md-5.col-sm-5.col-md-pull-2.col-sm-pull-2
				h3.general-title.general-title-targets О курсе «Трансперсональная аналитика»
				p.general-text.general-text-target Это полноценная образовательная программа по обучению начинающих и опытных специалистов, которая поможет вам полностью переосмыслить подход к работе, как над собой, так и с вашими клиентами
			.col-md-5.col-sm-5.col-md-pull-2.col-sm-pull-2
				.target
					h4.target-title Цель № 1
					p.general-text Совершить полную перезагрузку вашей жизни через  освоение новых инструментов самопознания и саморазвития
				.target
					h4.target-title Цель № 2
					p.general-text Сделать вас активным и востребованным дипломированным специалистом по трансперсональной аналитике с дипломом