section#for
	.container
		.row
			.col-md-6.col-sm-6
				h3.general-title.general-title-for Для кого создан курс?
				ul.for-list
					li Для всех, кто хочет получить не просто знания, а освоить прикладную и очень интересную специальность
					li Для тех, кто мечтает стать востребованным специалистом и начать зарабатывать
					li Для людей, у которых есть средне-специальное, среднетехническое или высшее образование
					li Для специалистов, которые хотят сменить направление деятельности
					li Для людей практикующих духовное развитие, которые хотят стать дипломированными специалистами в этом направлении 
					li Для тех, кто увлекается психологией и хочет повысить свой профессиональный уровень
			.col-md-6.col-sm-6
				img.lazy.for-img(data-src="img/images/for-img.png", alt="Для кого создан курс?")