section#get
	.container
		.row
			//- .col-md-2
			.col-md-6.col-md-push-4.col-md-offset-1
				h3.general-title.general-title-get Результаты, которых вы достигните после прохождения курса!
				ul.get-list
					li Полностью переосмыслите свой жизненный опыт и себя как личность
					li Достигните нового уровня социальной реализации, зарабатывая на любимом деле, выстроив корректные отношения и раскрыв своё предназначение
					li Станете мастером в трансперсональном анализе личности, основанном на системах механика человека и генные ключи
					li Освоите общий психологический модуль и базовые психологические технологии для работы с клиентами
					li Получите диплом о профессиональной переподготовке по направлению «Психология» и уверенно начнёте карьеру в этой сфере
			.col-md-4.col-md-pull-7
				.row
					.col-md-12.col-sm-6.col-xs-6
						img.lazy.get-img.get-img-1(data-src="img/images/get-img-1.png", alt="Результаты, которых вы достигните после прохождения курса!")
					.col-md-12.col-sm-6.col-xs-6
						img.lazy.get-img.get-img-2(data-src="img/images/get-img-2.png", alt="Результаты, которых вы достигните после прохождения курса!")