section#plan
	.container
		.row
			.col-md-11.col-sm-11
				h3.general-title.general-title-plan Программа курса
				.plan-table
					.plan-table-row
						.plan-table-cell.plan-table-cell-head
						.plan-table-cell.plan-table-cell-head
							h5.plan-table-cell-head-title Всего, часов
						.plan-table-cell.plan-table-cell-head
							h5.plan-table-cell-head-title В т. ч. Лекции
						.plan-table-cell.plan-table-cell-head
							h5.plan-table-cell-head-title В т. ч. Практика
						.plan-table-cell.plan-table-cell-head
							h5.plan-table-cell-head-title Формы контроля
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 1
								| Анализ структуры личности: Механика Человека
						.plan-table-cell
							p 23
						.plan-table-cell
							p 10
						.plan-table-cell
							p 3
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 2
								| Анализ отношений
						.plan-table-cell
							p 9
						.plan-table-cell
							p 4
						.plan-table-cell
							p 1
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 3
								| Модуль по работе с фигурой Тени
						.plan-table-cell
							p 9
						.plan-table-cell
							p 4
						.plan-table-cell
							p 1
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 4
								| Анализ структуры мышления
						.plan-table-cell
							p 18
						.plan-table-cell
							p 8
						.plan-table-cell
							p 2
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 5
								| Анализ структуры личности: Генные ключи
						.plan-table-cell
							p 23
						.plan-table-cell
							p 10
						.plan-table-cell
							p 3
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 6
								| Трансперсональная психология
						.plan-table-cell
							p 18
						.plan-table-cell
							p 8
						.plan-table-cell
							p 2
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 7
								| Психологическое консультирование: общий модуль работы
						.plan-table-cell
							p 7
						.plan-table-cell
							p 4
						.plan-table-cell
							p 1
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title
								small Тема 8
								| Монетизация частной практики: практический онлайн маркетинг для психологов
						.plan-table-cell
							p 23
						.plan-table-cell
							p 10
						.plan-table-cell
							p 3
						.plan-table-cell
							p 1
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title Самостоятельная работа по всем темам
						.plan-table-cell
							p 120
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title Итоговая аттестация
						.plan-table-cell
							p 8
					.plan-table-row
						.plan-table-cell
							h4.plan-table-cell-title.plan-table-cell-title-last Итого
						.plan-table-cell.plan-table-cell-last
							p 258
			.col-md-1.col-sm-1
				h4.plan-main-title программа