section#earns
	.container
		.row
			.col-md-5.col-sm-12
				h3.general-title Сколько зарабатывает трансперсональный аналитик?
			.col-md-3.col-sm-6
				.earn.earn-1
					h4.earn-title От 50.000 рублей
					p.general-text.general-text-earn Начинающие специалисты, которые только погружаются в психологию
			.col-md-4.col-sm-6
				.earn.earn-2
					h4.earn-title От 150.000 рублей
					p.general-text.general-text-earn Опытные консультанты, которые смогут масштабировать частную практику с помощью новых инструментов