header
	padding 20px 0
	margin-bottom: 60px
#logo
	display block
	float left
	width 262px
	height 20px
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
.contact
	display: inline-block
	line-height: 20px
	color #fff
	padding-left: 23px
	background-repeat no-repeat
	background-position: left center
	background-size contain
	margin-left: 15px
	&&-tel
		background-image url(../img/icons/phone.png)
		&:first-of-type
			margin-left: 0
	&&-skype
		background-image url(../img/icons/skype.png)
	&&-email
		background-image url(../img/icons/envelope.png)
	&:focus
		text-decoration none
		color #fff
	&:hover
		text-decoration: underline
		color #fff