#mail-section
	padding 100px 0
	background-image url(../img/backgrounds/mail-section-bg.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
.general-title-mail-section
	margin-bottom: 0
.button-mail-section
	margin-top: 30px