#facts
	padding 100px 0
	background-color: #030619;
.fact
	&-title
		position relative
		font-size: 64px;
		font-family: GPBk
		color: #060C30;
		small
			position: absolute
			bottom: 26px
			left 0
			font-family: GPm
			font-size: 24px;
			color: #00FFE0;
			text-shadow: 0px 4px 20px rgba(114, 238, 255, 0.3);