#materials
	padding 100px 0
	background-color: #030619;
.general-title-materials
	@extend .general-title-about
.material
	width 100%
	max-width 300px
	margin 0 auto
	&-title
		padding-top 60px
		font-size: 96px;
		line-height: 100px
		color: #121A4F;
		font-family: GPBk
		background-repeat no-repeat
		background-position: bottom -5px left 60px
		background-size: 160px
		&-1
			background-image url(../img/icons/material-icon-1.png)
		&-2
			background-image url(../img/icons/material-icon-2.png)
	&-subtitle
		font-size: 24px;
		text-shadow: 0px 4px 20px rgba(114, 238, 255, 0.3);
		font-family: GPm
		margin 10px 0