#bonuses
	padding 100px 0
	background-color: #030619;
.general-title-bonus
	@extend .general-title-about
.bonus
	width 100%
	max-width 257px
	margin 0 auto
	&-img
		display block
		width 100%
		height auto
		box-shadow: 20px 20px 60px rgba(114, 238, 255, 0.2);
		border-radius: 5px;
	&-title
		font-size: 24px;
		text-shadow: 0px 4px 20px rgba(114, 238, 255, 0.3);
		font-family: GPm
		margin 15px 0 10px
		small
			display block
			font-size: 14px;
			color: myG
			text-shadow: 0px 4px 20px rgba(114, 238, 255, 0.3);