#last
	padding 180px 0 0
	background-image url(../img/backgrounds/last-bg.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
.general-title-last 
	margin-bottom: 20px
.last-subtitle
	font-size: 24px
	text-shadow: 0px 4px 20px rgba(114, 238, 255, 0.3);
.button-last
	margin-top: 40px