footer
	padding 38px 0
	background-color: rgba(5, 5, 5, 0.8);
	margin-top: 138px
	overflow hidden
.contacts-footer
	text-align: center
.copyright
	font-size: 11px
	text-align: center
	margin-top: 15px