#about
	padding 100px 0
	background-image url(../img/backgrounds/about-bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.general-title-about
.general-title-what
.general-title-methods
	width 100%
	max-width 550px
.general-text-about
	width 100%
	max-width 550px