.politics_modal-content
	background-color #fff
	background-image none
	.modal-title
		font-size: 24px
		text-align: left 
		width 100%
		max-width 90%
		font-family: GPm
		color #000
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
		text-align: left
		color #000