#what
	padding 100px 0
	background-image url(../img/backgrounds/what-bg.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
	.container
		padding-left: 500px
		background-image url(../img/images/what-img.png)
		background-repeat no-repeat
		background-position: left center
.general-text-what
	@extend .general-text-about