#methods
	padding 100px 0
	background-image url(../img/backgrounds/methods-bg.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
.general-text-methods
	text-align: center
	position relative
	&:before
		content ''
		display block
		width 32px
		height 32px
		border-radius: 50px
		margin 0 auto 40px
		background-color: #FFF
		box-shadow: 0px 4px 20px rgba(114, 238, 255, 0.3);
		position relative
		z-index 8
.methods
	position relative
	&:before
		content: ''
		display block
		position: absolute
		top 14px
		width 88%
		margin 0 auto
		left 0
		right 0
		height 4px
		background-color: myG