#for
	padding 100px 0
	background-image url(../img/images/planet-for.png), url(../img/images/planet-for.png)
	background-repeat no-repeat, no-repeat
	background-position: right -20px top 250px, right top
	background-size: 278px, 508px
// .general-title-for
// 	margin-top: 50px
.for-list
	li
		@extend .main-list li
.for-img
	display block
	margin 0 auto
	width 100%
	max-width 456px
	box-shadow: 20px 20px 60px rgba(114, 238, 255, 0.2);
	border-radius: 5px;