#plan
	padding 100px 0
	background-image url(../img/backgrounds/plan-bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.plan-table
	display: table
	width 100%
	&-row
		display: table-row
		&:last-of-type .plan-table-cell
			border-bottom: 0
	&-cell
		border-bottom: 2px solid #2C6269;
		display: table-cell
		text-align: center
		padding 15px 0 20px
		width 162px
		vertical-align: middle
		&:first-of-type
			width 292px
			text-align: left
		&-head-title
			font-family: GPm
			font-size: 14px;
			color: #D9F6FF;
			text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		&-title
			font-size: 18px;
			color: #D9F6FF;
			text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
			font-family: GPBl
			small
				display block
				font-family: GPm
				font-size: 14px
				color myG
		p
			font-size: 14px
			font-family: GPBl
			color: #D9F6FF;
			text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
.plan-table-cell-title-last
.plan-table-cell-last p
	font-size: 36px;
	font-family: GPBl
	color: #00FFE0;
	text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
.plan-table-cell-last p
	font-size: 24px
.col-md-1
	position: relative
.plan-main-title
	position: absolute
	font-family: GPBl
	font-size: 120px;
	line-height: 100px;
	color: rgba(4, 61, 80, 0.3);
	transform: rotate(-90deg);
	top: 539px;
	right: -281px;