body
	overflow-x hidden
.stat-main-title
.targets-main-title
.fact-title
.material-title
	font-weight: 900
.stat-title
.plan-table-cell-title
.plan-table-cell-title-last
.plan-table-cell-last p
.plan-main-title
.know-list
	font-weight: bold
.stat-subtitle
.general-title
.button
.main-title
.plan-table-head-title
.plan-table-cell-title small
.earn-title
.author-title
.author-certs-title
.fact-title small
.know-title
.plan-2-title
.material-subtitle
.carousel-control
.bonus-title
.politics_modal-content .modal-title
	font-weight: 600
.know-list
	li span
		font-weight: normal